.centered{
    width: 75%;
    margin: 0 auto;
    text-align:center;
}

body{
    background-image: url("https://images.pexels.com/photos/53594/blue-clouds-day-fluffy-53594.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    font-family: verdana;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.selection{
    border-width: medium;
    border-color: grey;
    background-color: -webkit-linear-gradient(left top, grey, lightblue);
    background-color: -o-linear-gradient(bottom right, grey, lightblue);
    background-color: -moz-linear-gradient(bottom right, grey, lightblue);
    background-color: linear-gradient(to bottom right, grey, lightblue);
    font-family: verdana;
}

table {
    width:100%;
    font-family: verdana;
}
td {
    width: 30%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: center;
    background: -webkit-linear-gradient(left top, lightblue, white);
    background: -o-linear-gradient(bottom right, lightblue, white);
    background: -moz-linear-gradient(bottom right, lightblue, white);
    background: linear-gradient(to bottom right, lightblue, white);
}
th{
    text-align:center;
    background: -webkit-linear-gradient(left top, grey, lightblue);
    background: -o-linear-gradient(bottom right, grey, lightblue);
    background: -moz-linear-gradient(bottom right, grey, lightblue);
    background: linear-gradient(to bottom right, grey, lightblue);
}



