.centered{
    width: 90%;
    margin: 0 auto;
    text-align:center;
}

body{
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/moving-through-stars-in-space_-1zccenlb__F0000.png");
}

h1{
    font-family: verdana;
    color: yellow;
}

.selection{
    border-width: thick;
    background-color: -webkit-linear-gradient(left top, grey, lightblue);
    background-color: -o-linear-gradient(bottom right, grey, lightblue);
    background-color: -moz-linear-gradient(bottom right, grey, lightblue);
    background-color: linear-gradient(to bottom right, grey, lightblue);
    font-family: verdana;
}

table {
    width:100%;
    font-family: verdana;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
    background: -webkit-linear-gradient(left top, lightblue, white);
    background: -o-linear-gradient(bottom right, lightblue, white);
    background: -moz-linear-gradient(bottom right, lightblue, white);
    background: linear-gradient(to bottom right, lightblue, white);
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th {
    background-color: black;
    color: white;
}

th{
    text-align:center;
    background: -webkit-linear-gradient(left top, grey, lightblue);
    background: -o-linear-gradient(bottom right, grey, lightblue);
    background: -moz-linear-gradient(bottom right, grey, lightblue);
    background: linear-gradient(to bottom right, grey, lightblue);
}

.data1{
    width: 50%;
}
.data2{
    width: 25%;
}
.data3{
    width: 25%;
}

.tt {
    position: relative;
    display: table;
    width: 100%;
}

.tt .ttt {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    top: -70px;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.5s;
}

.tt .ttt::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tt:hover .ttt {
    visibility: visible;
    opacity: 1;
}


